aside {
    width: 100%;
    margin-top: 15px;
    padding: 5px;
}

#searchHeader {
    position: relative;
    height: 75px;
    width: 100%;
    background-color: #ffd800;
    border-radius: 5px 5px 0px 0px;
}

#searchFormWrapper {
    background-color: #C5C9B8;
    width: 100%;
    min-height: 295px;
}

#searchFormWrapper select {
    margin: 5px 15px;
    border-radius: 2px;
    width: 250px;
    border: none;
    padding: 0px;
    color: #58595b;
    -webkit-appearance: none;
    position: relative;
    background: transparent;
    background-color: #fff;
}
#searchFormWrapper select:first-of-type {
    margin-top: 20px;
}

#search-form button {
    margin: 15px 27.5px;
    width: 80%;
}

#searchHeader p {
    font-size: 31.5px;
    line-height: 40px;
    position: relative;
    top: 15px;
    font-family: 'Open Sans';
}



