
.icon-search {
    margin-top: 3px;
}

.btn-red {
    min-width: 45px;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ff0000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-red:hover {
    background-color: #fff;
    color: #ff0000;
}
