#content_wrapper {
    width: 940px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

#content {
    position: relative;
    margin-top: 15px;
    height: 370px;
    width: 100%;
}

.item img {
    border-radius: 5px 5px 0px 0px;
}