#content_wrapper {
    width: 940px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

#content {
    position: relative;
    background-color: #ffd800;
    padding: 5px;
    margin-top: 15px;
}