footer{
background: #f8f7f7 url(../image/footer.png) top center no-repeat;
height:  auto;
padding: 20px 0 5px 0;
color: #999999;
font-size: 10pt;
}
.batas {
    border-left: rgba(255, 255, 255, 0.5);
    padding-left: 5px;
    margin-left: 5px; 
}