header{
      width: 100%;
    height: auto;
    background-color: #fff;
    border-top: 2px solid #f00;
    border-bottom: 2px solid #f00;
    /*padding: 10px 0px 10px 0;*/
    
}

header a:link {
    color: #000 !important;
    text-decoration: none !important;
}

header a:visited {
    color: #000 !important;
    text-decoration: none !important;
}

header a:hover {
    color: #f00 !important;
}
header .row-fluid {
    line-height: 63px;
    margin-top: 2px;
    margin-bottom: 5px;
}

header ul {
    margin-bottom: 0 !important;
}
header .input-append {
    margin-bottom: 0 !important;
}
header .input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group>.dropdown-toggle, .input-prepend .btn-group>.dropdown-toggle{
    
    vertical-align: inherit !important;
 
}



/*@media (max-width: 939px) {
    header span3 offset2 {
        top: 0;
        right: :0;
    }
}
.area-search-box {
    width: 255px;
height: 30px;
position: absolute;
top: 0;
right: 0;
    
}
.header-menu {
    position: absolute;
top: 15px;
right: 0;
width: 700px;
height: 30px;
}
@media (max-width: 939px) {
    .header-menu {
        width: 525px;
        top: 0;
    }
}
@media (max-width: 939px) {
    .area-search-box {
        right: 8px;
        top: 27px;
        width: 280px;
    }
}*/



/*.search-txt {
width: 100% !important;
}*/