#header_container {
    height: 70px;
    border-top: 2px solid #f00;
    border-bottom: 2px solid #f00;
}

header {
    height: 50px;
    margin: 0px auto;
    margin-top: 5px;
    position: relative;
}

#logo {
    margin: 5px 0px;
    width: 100%;
    height: auto;
}

.relative {
    position: relative;
}


header ul {
    position: absolute;
    top: 10px;
    right: 0px;
    list-style: none;
}

.nav-text {
    position: relative;
    top: 10px;
}



header li {
    display: inline;
    margin-left: 5px;
}

header a:link {
    color: #000;
    text-decoration: none;
}

header a:hover {
    color: #f00;
}
header a:visited {
    color: #000;
    text-decoration: none;
}

.search-area {
    position: relative;
    top: 15px;
}

.search-input {
    width: 240px;
}
