@font-face {
    font-family: OpenSans;
    src: url('../font/OpenSans.woff');
}

body {
    font-family: OpenSans;
}



@media (max-width: 767px) {
    .container {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}
@media (max-width: 767px){
body {
padding-right: 0px !important;
padding-left:0px !important;
}